$indicator-size: 10px;

.c-actions {
    @include e-card;
    padding: 0 space(extra-small);
    width: 100%;
    list-style: none;
    box-shadow: none;
    margin: 0;

}

.c-action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: calc(space('extra-small') / 2);
    border-bottom: 1px solid rgba(darken($color-brand, 40%), 0.1);

    &:last-child {
        border-bottom: none;
    }
}

.c-action__title {
    font-size: 14px;
    margin-left: auto;
    margin-top: calc(space('extra-small') / 2);
    margin-bottom: calc(space('extra-small') / 2);
}

.c-action::before {
    content: '';
    width: $indicator-size;
    height: $indicator-size;
    background-color: $color-primary;
    margin-left: space();
    border-radius: calc($indicator-size /2);
}

.c-actions--oneline {
    .c-action {
        flex-wrap: nowrap;
        
    }

    .c-action__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        
        &:before{
            position: absolute;
            right: 0;
            top: calc(50% - calc(#{$indicator-size}/2))
        }

    }
}