$color-banner: #47c1bf;
$color-banner-light: #67ecec;
$color-banner-lighter: #e0f5f5;
$color-banner-dark: #00848e;
$icon-size: 34px;

.c-banner {
    @include e-card;
    background-color: $color-banner-lighter;
    border-top: 3px solid $color-banner-dark ;
    padding: space(small) space(extra-wide);
    position: relative;
}

.c-banner__title {
    color: $color-text-subdued;
    font-weight: normal;
}

.c-banner__desc {
    font-size: 14px;
}

.c-banner__action {
    color: $color-text-subdued;
    border-color: $color-text-subdued;
    ;
}

.c-banner__icon,
.c-banner__close {
    position: absolute;
    top: space(small);
}

.c-banner__close {
    left: space(normal);
    cursor: pointer;
}

.c-banner__icon {
    right: space(normal);
    color: $color-banner-light;
    background-color: $color-banner-dark ;
    border-radius: 50%;
    width: $icon-size;
    height: $icon-size;
    line-height: $icon-size !important;
    text-align: center;
}

.c-banner > * {
    transform: opacity 200ms ease;
}
.c-banner{
    transition: transform 400ms ease-out 200ms;
   
    .collapse{
        transform: scaleY(0);
    }
}
.c-banner.collapse > * {
    opacity: 0;
}
.c-banner.collapse{
    transform: scaleY(0);
    transform-origin: 50% 0;

}
@media (max-width: $bp-phone-normal){
    .c-banner{
        padding-left: space(small);
        padding-right: space(small);
    }
    .c-banner__icon{
        right: space(small);
    }
    .c-banner__close{
        left: space(small);
    }
    .c-banner__title {
        margin-left: space("normal");
        margin-right: $icon-size + space("extra-small");
    }

}